.jussisession {
  position: absolute;
  width: 100%;
  height: 650px;
  left: 0px;
  top: 1367px;

  &__content {

    &-p {
      position: static;
      width: 241px;
      height: 292px;
      left: 0px;
      top: 104px;
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 24px;
    }

    &-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 24px;
      position: static;
      width: 162px;
      height: 48px;
      left: 0px;
      top: 420px;
      border: 1px solid $black;
      box-sizing: border-box;
      border-radius: 6px;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 0px 24px;
      background: $white;
    }

    &-images {
      position: absolute;
      width: 676px;
      height: 520px;
      left: 556px;
      top: 0px;
    }

    &-title {

      &-h1 {
        position: static;
        width: 241px;
        height: 80px;
        left: 0px;
        top: 0px;
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: $black;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 19px 0px;
      }
    }
  }
}