.newletter {
  position: absolute;
  width: 100%;
  height: 436px;
  left: 0px;
  top: 2497px;
  background: $black;

  &__content-title {
    position: absolute;
    width: 676px;
    height: 80px;
    left: 382px;
    top: 136px;

    &-h1 {
      color: $white;
      position: absolute;
      width: 676px;
      height: 80px;
      left: 100px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
    }

    &-slashes {
      position: absolute;
      width: 29px;
      height: 24px;
      left: 100px;
      font-size: 32px;
      line-height: 24px;
      color: $green-jussi
    }
    }

    &-submit {
      color: $green-jussi;
      background: $black;
      position: absolute;
      height: 40px;
      left: 605px;
      top: 160px;
      font-weight: bold;
      font-size: 16px;
      border-style: none;
    }

    &-input {
      position: absolute;
      width: 502px;
      height: 60px;
      left: 100px;
      top: 150px;
      border-style: none;
      background: $black;
    }
  }