.oursolussion {
  position: absolute;
  width: 100%;
  height: 650px;
  left: 0px;
  top: 810px;

&__content {

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 314px;
    height: 40px;
    left: 208px;
    top: 50px;

    &-slashes {
      position: static;
      width: 31px;
      height: 40px;
      left: 0px;
      top: 0px;
      font-family: Barlow;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
      color: $green-jussi;
      flex: none;
      order: 0;
    }

    &-h1 {
      position: static;
      width: 279px;
      height: 40px;
      left: 35px;
      top: 0px;
      font-family: Barlow;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
      color: $black;
      flex: none;
      order: 1;
    }
  }
}
}